USE [master]
GO
/****** Object:  Database [RMS-app]    Script Date: 17.05.2018 20:03:57 ******/
CREATE DATABASE [RMS-app]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RMS-app', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\RMS-app.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RMS-app_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\RMS-app_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RMS-app].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RMS-app]
GO
/****** Object:  UserDefinedFunction [dbo].[SHOW_COURSES_WITH_AB]    Script Date: 17.05.2018 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SHOW_COURSES_WITH_AB](@station_a VARCHAR(50), @station_b VARCHAR(50))
RETURNS @courses TABLE
(
course_id int primary key NOT NULL
)
AS
BEGIN
-- Pobranie kursów które zawierają stację a
declare @courses_a as TABLE(course_id int, visit_order int)

INSERT INTO @courses_a (course_id, visit_order) (
SELECT course_id, visit_order
FROM visits
INNER JOIN stations ON visits.station_id = stations.id
WHERE stations.name = @station_a)

-- Pobieranie kursów które zawierają stację a i stację b
declare @courses_b as TABLE(course_id int, visit_order int)

INSERT INTO @courses_b (course_id, visit_order) (
SELECT course_id, visit_order
FROM visits
INNER JOIN stations ON visits.station_id = stations.id
WHERE course_id = ANY(SELECT course_id FROM @courses_a) AND stations.name = @station_b)

--Sprawdzenie czy kolejność jest odpowiednia
INSERT INTO @courses (course_id) (
SELECT [@courses_b].course_id
FROM @courses_b
INNER JOIN @courses_a ON [@courses_b].course_id = [@courses_a].course_id
WHERE [@courses_b].visit_order > [@courses_a].visit_order
)

return
END
GO
/****** Object:  Table [dbo].[courses]    Script Date: 17.05.2018 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[courses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[train_id] [int] NOT NULL,
 CONSTRAINT [PK_courses] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[customers]    Script Date: 17.05.2018 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[customers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[surname] [varchar](50) NOT NULL,
	[address] [varchar](70) NOT NULL,
	[city] [varchar](50) NOT NULL,
	[zip_code] [varchar](6) NOT NULL,
	[phone_number] [varchar](11) NOT NULL,
	[email] [varchar](50) NOT NULL,
 CONSTRAINT [PK_customers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[logins]    Script Date: 17.05.2018 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[logins](
	[login] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_logins] PRIMARY KEY CLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[reservations]    Script Date: 17.05.2018 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[price] [smallmoney] NOT NULL,
	[reservation_date] [date] NOT NULL,
 CONSTRAINT [PK_reservations] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[seats]    Script Date: 17.05.2018 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seats](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[seat_number] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[visit_id] [int] NULL,
	[reservation_id] [int] NULL,
 CONSTRAINT [PK_seats] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[stations]    Script Date: 17.05.2018 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[stations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_stations] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[trains]    Script Date: 17.05.2018 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[trains](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[MODEL] [varchar](50) NOT NULL,
 CONSTRAINT [PK_trains] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[visits]    Script Date: 17.05.2018 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[visits](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[station_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[visit_order] [int] NOT NULL,
	[available_seats] [int] NOT NULL,
	[visit_date] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_visits] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[SHOW_COURSES]    Script Date: 17.05.2018 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SHOW_COURSES]
AS
SELECT  courses.id, trains.name AS train, (
SELECT	TOP 1 stations.name 
FROM visits
INNER JOIN stations ON 
visits.station_id = stations.id
WHERE visits.course_id = courses.id
ORDER BY visits.visit_order ASC) AS first_station, (
SELECT	TOP 1 stations.name 
FROM visits
INNER JOIN stations ON 
visits.station_id = stations.id
WHERE visits.course_id = courses.id
ORDER BY visits.visit_order DESC) AS last_station
FROM dbo.courses
INNER JOIN trains
ON courses.train_id = trains.id;
GO
/****** Object:  View [dbo].[SHOW_CUSTOMERS]    Script Date: 17.05.2018 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SHOW_CUSTOMERS]
AS
SELECT        id, name, surname, address, city, zip_code, phone_number, email
FROM            dbo.customers
GO
/****** Object:  View [dbo].[SHOW_TRAINS]    Script Date: 17.05.2018 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SHOW_TRAINS] as
    SELECT
       id AS 'train_id',
	   name AS 'train_name',
	   model AS 'train_model'
	FROM
    trains
GO
SET IDENTITY_INSERT [dbo].[courses] ON 

INSERT [dbo].[courses] ([id], [train_id]) VALUES (7, 3)
INSERT [dbo].[courses] ([id], [train_id]) VALUES (9, 4)
INSERT [dbo].[courses] ([id], [train_id]) VALUES (10, 5)
SET IDENTITY_INSERT [dbo].[courses] OFF
SET IDENTITY_INSERT [dbo].[customers] ON 

INSERT [dbo].[customers] ([id], [name], [surname], [address], [city], [zip_code], [phone_number], [email]) VALUES (2, N'Lukasz', N'Zatorski', N'Zachodnia 61', N'Piotrków', N'97-300', N'48500716575', N'lukasz1111@gmail.com')
INSERT [dbo].[customers] ([id], [name], [surname], [address], [city], [zip_code], [phone_number], [email]) VALUES (3, N'Sebastian', N'Lagiewski', N'Glówna 10', N'Przyglów', N'97-310', N'48123456789', N'seba@gmail.com')
SET IDENTITY_INSERT [dbo].[customers] OFF
INSERT [dbo].[logins] ([login], [password]) VALUES (N'Admin', N'pIbvhgmpVHahDBTYUgQvew==')
INSERT [dbo].[logins] ([login], [password]) VALUES (N'Cashier', N'a77rnoLt4SfyMwKB5+h57w==')
SET IDENTITY_INSERT [dbo].[reservations] ON 

INSERT [dbo].[reservations] ([id], [customer_id], [price], [reservation_date]) VALUES (11, 3, 30.0000, CAST(N'2018-01-25' AS Date))
INSERT [dbo].[reservations] ([id], [customer_id], [price], [reservation_date]) VALUES (22, 2, 30.0000, CAST(N'2018-01-25' AS Date))
SET IDENTITY_INSERT [dbo].[reservations] OFF
SET IDENTITY_INSERT [dbo].[seats] ON 

INSERT [dbo].[seats] ([id], [seat_number], [course_id], [visit_id], [reservation_id]) VALUES (601, 1, 7, 31, NULL)
INSERT [dbo].[seats] ([id], [seat_number], [course_id], [visit_id], [reservation_id]) VALUES (602, 2, 7, 31, NULL)
INSERT [dbo].[seats] ([id], [seat_number], [course_id], [visit_id], [reservation_id]) VALUES (603, 3, 7, 31, NULL)
GO
SET IDENTITY_INSERT [dbo].[seats] OFF
SET IDENTITY_INSERT [dbo].[stations] ON 

INSERT [dbo].[stations] ([id], [name]) VALUES (9, N'Wroclaw')
INSERT [dbo].[stations] ([id], [name]) VALUES (10, N'Katowice')
INSERT [dbo].[stations] ([id], [name]) VALUES (11, N'Piotrków Trybunalski')
SET IDENTITY_INSERT [dbo].[stations] OFF
SET IDENTITY_INSERT [dbo].[trains] ON 

INSERT [dbo].[trains] ([id], [name], [MODEL]) VALUES (3, N'Pendolino', N'XYZ300')
INSERT [dbo].[trains] ([id], [name], [MODEL]) VALUES (4, N'Dart', N'ABC200')
INSERT [dbo].[trains] ([id], [name], [MODEL]) VALUES (5, N'Flirt3', N'2000')
SET IDENTITY_INSERT [dbo].[trains] OFF
SET IDENTITY_INSERT [dbo].[visits] ON 

INSERT [dbo].[visits] ([id], [station_id], [course_id], [visit_order], [available_seats], [visit_date]) VALUES (31, 9, 7, 1, 50, CAST(N'2018-01-24 14:00:00' AS SmallDateTime))
INSERT [dbo].[visits] ([id], [station_id], [course_id], [visit_order], [available_seats], [visit_date]) VALUES (32, 10, 7, 2, 50, CAST(N'2018-01-24 16:00:00' AS SmallDateTime))
INSERT [dbo].[visits] ([id], [station_id], [course_id], [visit_order], [available_seats], [visit_date]) VALUES (33, 11, 7, 3, 50, CAST(N'2018-01-24 18:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[visits] OFF
ALTER TABLE [dbo].[courses]  WITH CHECK ADD  CONSTRAINT [FK_courses_trains] FOREIGN KEY([train_id])
REFERENCES [dbo].[trains] ([id])
GO
ALTER TABLE [dbo].[courses] CHECK CONSTRAINT [FK_courses_trains]
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD  CONSTRAINT [FK_reservations_customers] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[reservations] CHECK CONSTRAINT [FK_reservations_customers]
GO
ALTER TABLE [dbo].[seats]  WITH CHECK ADD  CONSTRAINT [FK_seats_courses] FOREIGN KEY([course_id])
REFERENCES [dbo].[courses] ([id])
GO
ALTER TABLE [dbo].[seats] CHECK CONSTRAINT [FK_seats_courses]
GO
ALTER TABLE [dbo].[seats]  WITH CHECK ADD  CONSTRAINT [FK_seats_reservations] FOREIGN KEY([reservation_id])
REFERENCES [dbo].[reservations] ([id])
GO
ALTER TABLE [dbo].[seats] CHECK CONSTRAINT [FK_seats_reservations]
GO
ALTER TABLE [dbo].[seats]  WITH CHECK ADD  CONSTRAINT [FK_seats_visits] FOREIGN KEY([visit_id])
REFERENCES [dbo].[visits] ([id])
GO
ALTER TABLE [dbo].[seats] CHECK CONSTRAINT [FK_seats_visits]
GO
ALTER TABLE [dbo].[visits]  WITH CHECK ADD  CONSTRAINT [FK_visits_courses] FOREIGN KEY([course_id])
REFERENCES [dbo].[courses] ([id])
GO
ALTER TABLE [dbo].[visits] CHECK CONSTRAINT [FK_visits_courses]
GO
ALTER TABLE [dbo].[visits]  WITH CHECK ADD  CONSTRAINT [FK_visits_stations] FOREIGN KEY([station_id])
REFERENCES [dbo].[stations] ([id])
GO
ALTER TABLE [dbo].[visits] CHECK CONSTRAINT [FK_visits_stations]
GO
/****** Object:  StoredProcedure [dbo].[ADD_COURSE]    Script Date: 17.05.2018 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ADD_COURSE]
@train_id varchar(50)
AS

BEGIN
INSERT INTO courses(train_id)
VALUES (@train_id)
END
GO
/****** Object:  StoredProcedure [dbo].[ADD_RESERVATIONS]    Script Date: 17.05.2018 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ADD_RESERVATIONS]
@customer_id INT,
@price INT,
@course_id INT,
@station_a VARCHAR(70),
@station_b VARCHAR(70),
@seat_number INT
AS

BEGIN

DECLARE @first_visit_id INT = (
SELECT visits.id 
FROM visits INNER JOIN stations
ON visits.station_id = stations.id
WHERE stations.name = @station_a AND visits.course_id = @course_id)

DECLARE @last_visit_id INT = (
SELECT visits.id 
FROM visits INNER JOIN stations
ON visits.station_id = stations.id
WHERE stations.name = @station_b AND visits.course_id = @course_id)

DECLARE @visit_counter INT = @last_visit_id - @first_visit_id;

DECLARE @temp_date smalldatetime = (
SELECT visits.visit_date
FROM visits
WHERE visits.id = @first_visit_id)

INSERT INTO reservations(customer_id, price, reservation_date)
VALUES (@customer_id, @price, @temp_date)

DECLARE @cnt INT = (
SELECT visits.visit_order 
FROM visits
WHERE visits.id = @first_visit_id) 
SET @visit_counter = @visit_counter + @cnt;

WHILE @cnt < @visit_counter
BEGIN
   UPDATE seats
	SET reservation_id = IDENT_CURRENT('reservations')
	FROM seats AS seats
	INNER JOIN visits
	ON seats.visit_id = visits.id
	WHERE visits.visit_order = @cnt AND visits.course_id = @course_id AND seats.seat_number = @seat_number;
	SET @cnt = @cnt + 1;
END;

END
GO
/****** Object:  StoredProcedure [dbo].[ADD_SEATS]    Script Date: 17.05.2018 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ADD_SEATS]
@course_id INT,
@visit_id INT,
@number_of_seats INT
AS

BEGIN
DECLARE @cnt INT = 1;

WHILE @cnt < @number_of_seats + 1
BEGIN
   INSERT INTO seats(seat_number, course_id, visit_id, reservation_id)
	VALUES (@cnt, @course_id, @visit_id, NULL);
	SET @cnt = @cnt + 1;
END;

END
GO
/****** Object:  StoredProcedure [dbo].[ADD_STATION]    Script Date: 17.05.2018 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ADD_STATION]
@name varchar(50)
AS

BEGIN
INSERT INTO stations(name)
VALUES (@name)
END
GO
/****** Object:  StoredProcedure [dbo].[ADD_TRAIN]    Script Date: 17.05.2018 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ADD_TRAIN]
@name varchar(50),
@model varchar(70)

AS

BEGIN
INSERT INTO trains(name,model)
VALUES (@name,@model)

SELECT SCOPE_IDENTITY()

END
GO
/****** Object:  StoredProcedure [dbo].[ADD_VISIT]    Script Date: 17.05.2018 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ADD_VISIT]
@station_id INT,
@course_id INT,
@visit_order INT,
@available_seats INT,
@temp_date smalldatetime
AS

BEGIN
INSERT INTO visits(station_id, course_id, visit_order, available_seats, visit_date)
VALUES (@station_id ,
@course_id,
@visit_order,
@available_seats,
@temp_date)
END
GO
/****** Object:  StoredProcedure [dbo].[CREATE_NEWCUSTOMER]    Script Date: 17.05.2018 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CREATE_NEWCUSTOMER]
@name varchar(50)
,@surname varchar(50)
,@address varchar(70)
,@city varchar(50)
,@zip_code varchar(6)
,@phone_number varchar(11)
,@email varchar(50)

AS

BEGIN
INSERT INTO customers(name,surname,address,city,zip_code, phone_number, email)
VALUES (@name,@surname,@address,@city,@zip_code, @phone_number, @email)
END
GO
/****** Object:  StoredProcedure [dbo].[DELETE_COURSE]    Script Date: 17.05.2018 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DELETE_COURSE]
@course_id INT
AS

BEGIN
DELETE FROM reservations
WHERE reservations.id = ANY(
SELECT seats.reservation_id FROM seats
INNER JOIN courses ON seats.course_id = courses.id
WHERE seats.course_id = @course_id);

DELETE FROM seats
WHERE seats.course_id = @course_id

DELETE FROM visits
WHERE visits.course_id = @course_id;

DELETE FROM courses
WHERE courses.id = @course_id;

END
GO
/****** Object:  StoredProcedure [dbo].[MODIFY_CUSTOMER]    Script Date: 17.05.2018 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MODIFY_CUSTOMER]
(
@id int,
@name varchar(50),
@surname varchar(50),
@address varchar(70),
@city varchar(50),
@zip_code varchar(6),
@phone_number varchar(11),
@email varchar(50)
)
AS

	IF (@name IS NOT NULL)
		UPDATE customers
		SET name = @name
		WHERE id=@id
	
	IF (@surname IS NOT NULL)
		UPDATE customers
		SET surname = @surname
		WHERE id=@id

	IF (@address IS NOT NULL)
		UPDATE customers
		SET address = @address
		WHERE id=@id

	IF (@city IS NOT NULL)
		UPDATE customers
		SET city = @city
		WHERE id=@id


	IF (@zip_code IS NOT NULL)
		UPDATE customers
		SET zip_code = @zip_code
		WHERE id=@id


	IF (@phone_number IS NOT NULL)
		UPDATE customers
		SET phone_number = @phone_number
		WHERE id=@id

	IF (@email IS NOT NULL)
		UPDATE customers
		SET email = @email
		WHERE id=@id
GO
/****** Object:  StoredProcedure [dbo].[SHOW_AVAILABLE_COURSES]    Script Date: 17.05.2018 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SHOW_AVAILABLE_COURSES]
@station_a VARCHAR(30),
@station_b VARCHAR(30)
AS

BEGIN

(SELECT coursesAB.course_id, coursesABN.train, coursesABN.first_station, coursesABN.last_station, (

SELECT visits.visit_date
FROM visits INNER JOIN stations
ON visits.station_id = stations.id
WHERE visits.course_id = coursesAB.course_id AND stations.name = @station_a) AS departure_date, (

SELECT visits.visit_date
FROM visits INNER JOIN stations
ON visits.station_id = stations.id
WHERE visits.course_id = coursesAB.course_id AND stations.name = @station_b) AS arrival_date

FROM SHOW_COURSES_WITH_AB(@station_a, @station_b) AS coursesAB
INNER JOIN SHOW_COURSES AS coursesABN ON coursesAB.course_id = coursesABN.id
)
END
GO
/****** Object:  StoredProcedure [dbo].[SHOW_AVAILABLE_SEATS]    Script Date: 17.05.2018 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SHOW_AVAILABLE_SEATS]
@course_id INT,
@station_a VARCHAR(70),
@station_b VARCHAR(70)
AS

BEGIN

DECLARE @first_station INT = (
SELECT visits.visit_order 
FROM visits INNER JOIN stations
ON visits.station_id = stations.id
WHERE stations.name = @station_a AND visits.course_id = @course_id)

DECLARE @last_station INT = (
SELECT visits.visit_order 
FROM visits INNER JOIN stations
ON visits.station_id = stations.id
WHERE stations.name = @station_b AND visits.course_id = @course_id)

SELECT seats.seat
FROM (
SELECT seats.seat_number AS seat, COUNT(seats.seat_number) AS seat_count
FROM seats INNER JOIN visits
ON seats.visit_id = visits.id
WHERE visits.visit_order > (@first_station - 1) AND visits.visit_order < (@last_station + 1) AND seats.course_id = @course_id AND seats.reservation_id is NULL
GROUP BY seats.seat_number) AS seats
WHERE seats.seat_count = @last_station - @first_station + 1;
END
GO
/****** Object:  StoredProcedure [dbo].[SHOW_COURSE_VISITS]    Script Date: 17.05.2018 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*INSERT INTO reservations(customer_id, price, date)
VALUES(1, 25.00, GETDATE());*/

CREATE PROCEDURE [dbo].[SHOW_COURSE_VISITS]
(
  @course_id int
)
AS
SELECT visits.course_id AS 'course_id',visits.station_id AS 'station_id',stations.name AS 'station_name', visits.visit_order AS 'order' , visits.visit_date AS 'arrival_date' 
FROM visits
INNER JOIN stations ON visits.station_id=stations.id
WHERE course_id = @course_id;
GO
/****** Object:  StoredProcedure [dbo].[SHOW_CUSTOMER]    Script Date: 17.05.2018 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SHOW_CUSTOMER]
@name varchar(50),
@surname varchar(50)

AS

BEGIN
SELECT *
FROM customers
WHERE name=@name AND surname=@surname
END
GO
/****** Object:  StoredProcedure [dbo].[SHOW_CUSTOMER_RESERVATION]    Script Date: 17.05.2018 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SHOW_CUSTOMER_RESERVATION]
@customer_id INT
AS
BEGIN
SELECT seats.reservation_id AS reservation_id, seats.seat_number AS seat_number, seats.course_id AS course_id, (

SELECT TOP(1) stations.name
FROM stations 
INNER JOIN visits ON stations.id = visits.station_id
INNER JOIN seats ON visits.id = seats.visit_id
INNER JOIN reservations ON seats.reservation_id = reservations.id
WHERE seats.reservation_id = seats.reservation_id
ORDER BY visits.visit_order ASC) AS start_station, (

SELECT stations.name FROM stations
INNER JOIN visits ON stations.id = visits.station_id
WHERE visits.course_id = seats.course_id AND visits.visit_order =

(SELECT TOP(1) visits.visit_order
FROM visits
INNER JOIN seats ON visits.id = seats.visit_id
INNER JOIN reservations ON seats.reservation_id = reservations.id
WHERE seats.reservation_id = seats.reservation_id
ORDER BY visits.visit_order DESC) + 1) AS end_station

FROM seats AS seats
INNER JOIN reservations ON seats.reservation_id = reservations.id
WHERE reservations.customer_id = @customer_id
GROUP BY seats.reservation_id, seats.course_id, seat_number;
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "customers"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 220
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SHOW_CUSTOMERS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SHOW_CUSTOMERS'
GO
USE [master]
GO
